.ant-layout-sider {
  flex: 0 0 200px !important;
  max-width: 300px !important;
  min-width: 300px !important;
  min-height: 100vh;
  width: 200px;
}

.ant-menu-item-selected {
  background-color: #F05366 !important;
}

.s-file-uploader {
  border: 2px dashed #F05366 !important;
  background: #0B70A50F !important;
  width: 100px;
  min-height: 100px !important;
  border-radius: 50%;
  margin-left: 100px;
  /* padding: 10px !important; */
  color: #FFFFFF;
}

@media only screen and (max-width: 490px) {
  .side-container {
    display: none !important;
  }
}