.newchurch-form input, select {
  height: 50px;
  margin-bottom: 20px;
}

.newchurch-header {
  font-size: 34px;
  color: #F05366;
  font-weight: bolder;
}

.newchurch-form {
  padding: 20px;
}

.newchurch-form label {
  margin-top: 10px;
}

.newchurch-form button {
  width: 200px;
  min-height: 50px;
  background: #F05366 ;
  border: none;
}

.newchurch-form button:hover {
  width: 200px;
  min-height: 50px;
  background: #F05366 ;
  border: none;
}

.newchurch-form button:focus {
  width: 200px;
  min-height: 50px;
  background: #F05366 ;
  border: none;
}
