.programs-container {
  width: 80%;
  margin: auto;
  margin-top: 10%;
  /* border: 2px solid #eeeccc; */
}

.programs-container h1 {
  color: #F05366;
}

#event-card {
  min-height: 100px;
  margin-bottom: 25px;
  font-size: large;
  font-weight: bolder;
  padding: 50px;
  text-align: center;
  cursor: pointer;
}

.event-name {
  font-size: 30px;
}


@media only screen and (max-width: 768px) {
  .programs-container {
    width: 95%;
    margin: auto;
    margin-top: 10%;
  }

  #event-card {
    min-height: 100px;
    margin-bottom: 25px;
    font-size: large;
    font-weight: bolder;
    padding: 35px;
    text-align: center;
    cursor: pointer;
    max-height: 100px !important;
  }
}
