.settings-card {
  min-height: 80vh;
  width: 100%;
}

.role-delete {
  width: 100%;
  height: 45px;
  background: #F05366 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  opacity: 1;
}

.role-delete:hover {
  width: 100%;
  height: 45px;
  background: #F05366 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  opacity: 1;
}

.role-delete:focus {
  width: 100%;
  height: 45px;
  background: #F05366 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  opacity: 1;
}

.role-edit {
  width: 100%;
  height: 45px;
  background: #001529 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  opacity: 1;
}

.role-edit:hover {
  width: 100%;
  height: 45px;
  background: #001529 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  opacity: 1;
}

.role-edit:focus {
  width: 100%;
  height: 45px;
  background: #001529 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  opacity: 1;
}

.page-title {
  color: #F05366;
  font-size: 28px;
  font-weight: bold;
}

.table-row:hover {
  background-color: #0B70A50F;
}

.role-name {
  font-size: 18px;
}

.set-cancil {
  background: #001529;
  width: 100%;
  height: 50px;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
}

.set-delete {
  background: #F05366;
  width: 100%;
  height: 50px;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
}