.coord-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.cord-detail-card {
  width: 800px !important;
  min-height: 500px;
  padding: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 20px 20px 50px #00000029;
  border-radius: 8px;
  opacity: 1;
}

.coord-detail-inner-container {
  border: 1px solid #000;
  padding: 15px;
}

.detail-name {
  height: 27px;
  text-align: left;
  font: normal normal bold 46px/47px Manrope;
  letter-spacing: 0px;
  color: #F05366;
  opacity: 1;
  margin-bottom: 70px;
}

.detail-email {
  margin-top: -20px;
  font: normal normal normal 22px/34px Manrope;
}

.assign-btn {
  width: 105px;
  height: 45px;
  background: #F05366 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  opacity: 1;
}

.assign-btn:hover {
  width: 105px;
  height: 45px;
  background: #F05366 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  opacity: 1;
}

.assign-btn:focus {
  width: 105px;
  height: 45px;
  background: #F05366 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  opacity: 1;
}

.church-view {
  height: 45px;
  background: #F05366 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  opacity: 1;
}

.church-view:hover {
  height: 45px;
  background: #F05366 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  opacity: 1;
}

.church-view:focus {
  height: 45px;
  background: #F05366 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  opacity: 1;
}

.t-row {
  margin-bottom: 20px !important;
  border-bottom: 4px solid #FFFFFF;
  border-radius: 5px;
}

.ch-list-td {
  padding: 10px;
  min-width: 150px;
}

.close {
 font-weight: bolder;
 cursor: pointer;
 color: #F05366;
}

.th {
  color: #F05366 !important;
}

.coord-action-btn {
  background: #F05366;
  color: #FFFFFF;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 7px;
  margin-top: 15px;
}

.my-loader {
  color: #F05366;
}

.coord-action-btn:hover {
  background: #F05366;
  color: #FFFFFF;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 7px;
  margin-top: 15px;
}

.coord-action-btn:focus {
  background: #F05366;
  color: #FFFFFF;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 7px;
  margin-top: 15px;
}

.coord-header {
  font: normal normal normal 44px/54px Manrope;
  color: #F05366;
  font-weight: bolder;
}