.search-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

#birthday-card {
  min-height: 80vh;
  padding: 20px;
}

.new-event-button {
  background: #1890ff;
  color: #FFFFFF;
  height: 50px;
  border: none;
  border-radius: 7px;
  float: right;
  margin: 20px;
}

.new-event-button:focus {
  background: #1890ff;
  color: #FFFFFF;
  height: 50px;
  border: none;
  border-radius: 7px;
  float: right;
  margin: 20px;
}

.new-event-button:hover {
  background: #1890ff;
  color: #FFFFFF;
  height: 50px;
  border: none;
  border-radius: 7px;
  float: right;
  margin: 20px;
}

#birthday-modal {
  margin-top: 100px;
}

#birthday-modal .input-container {
  margin-bottom: 15px;
}

#birthday-modal button {
  background: #1890ff;
  color: #FFFFFF;
  height: 50px;
  border: none;
  border-radius: 7px;
  width: 150px;
  margin-right: 15px;
}

#birthday-modal .input-container input {
  height: 45px;
}

#birthday-modal .close {
  font-size: 58px;
  color: black;
  border: none;
  margin-right: -50px;
}

#birthday-modal .modal-body {
  padding: 40px;
}

#birthday-modal .modal-title {
  color: #1890ff !important;
}